$up-arrow-color: #1C66E5;
$down-arrow-color: #E59753;

.networkInfoWrapper {
  position: relative;
}

.networkTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.networkPanel {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  box-sizing: border-box;
  width: 160px;
  height: 130px;
  padding: 20px;
  background: var(--bg-color-dialog);
  border-radius: 8px;
  box-shadow:
    0 2px 6px var(--uikit-color-black-8),
    0 8px 18px var(--uikit-color-black-8);
}

.panelItem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.itemLabel {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--text-color-secondary);
}

.itemValue {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color-primary);
}

.latencyValue {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.latency-value-success {
  color: var(--text-color-success);
}

.latency-value-warning {
  color: var(--text-color-warning);
}

.latency-value-danger {
  color: var(--text-color-error);
}

.latency-value-disconnected {
  color: var(--text-color-tertiary);
}

.packetLossContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.packetLossItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  color: var(--text-color-primary);
}

.arrowUp {
  color: $up-arrow-color;
}

.arrowDown {
  color: $down-arrow-color;
  transform: rotate(180deg);
}

.status-success {
  color: var(--text-color-success);
}

.status-warning {
  color: var(--text-color-warning);
}

.status-danger {
  color: var(--text-color-error);
}

.status-disconnected {
  color: var(--text-color-tertiary);
}
