.languageButton {
  box-sizing: border-box;
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px;
  margin-left: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color-primary);
  white-space: nowrap;
  cursor: pointer;
}
