.loginUserInfo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.trigger {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.userId {
  max-width: 120px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
}
