.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-color-primary);
  cursor: pointer;
}

.content {
  box-sizing: border-box;

  &:hover {
    background: var(--button-color-secondary-hover);
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

.iconSlot {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  line-height: 0;

  svg {
    display: block;
  }
}

.contentHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 5px;
  border-radius: 6px;

  .title {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    white-space: nowrap;
  }
}

.contentVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  height: 56px;
  padding: 5px;
  border-radius: 6px;

  .title {
    max-width: 100%;
    margin-top: 4px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 56px;
  border-radius: 6px;

  &:hover {
    background: var(--bg-color-input);
  }
}
