.audioIcon {
  position: relative;
  width: 24px;
  height: 24px;

  &.small {
    transform: scale(0.8);
  }
}

.levelContainer {
  position: absolute;
  top: 2px;
  left: 7px;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  width: 10px;
  height: 14px;
  overflow: hidden;
  border-radius: 4px;
}

.level {
  width: 100%;
  background-color: var(--text-color-success);
  transition: height 0.2s;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
}
