$video-tab-width: 305px;

.videoControl {
  position: relative;
  display: flex;
}

.videoIconContainer {
  position: relative;
}

.unSupportIcon {
  position: absolute;
  right: 1px;
  bottom: 1px;
}

.videoTab {
  position: absolute;
  bottom: calc(100% + 12px);
  left: -5px;
  box-sizing: border-box;
  width: $video-tab-width;
  padding: 20px 20px 24px;
  background-color: var(--bg-color-dialog);
  border-radius: 8px;
  box-shadow:
    0 2px 4px -3px var(--uikit-color-black-8),
    0 6px 10px 1px var(--uikit-color-black-8),
    0 3px 14px 2px var(--uikit-color-black-8);

  &::before {
    position: absolute;
    bottom: -10px;
    left: 30px;
    content: '';
    border-top: 5px solid var(--bg-color-dialog);
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}
