.roomButton {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 162px;
  height: 100%;
}

.button,
.input {
  width: 100%;
  height: 100%;
}

.input {
  display: flex;
  align-items: center;
  padding: 0 16px;
  border: 2px solid var(--button-color-primary-default);
  border-radius: var(--tui-button-round-radius);
}
