.layoutContainer {
  position: relative;
}

.layoutList {
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  display: flex;
  padding: 16px 16px 6px;
  background-color: var(--bg-color-dialog);
  border-radius: 8px;
  box-shadow:
    0 2px 6px var(--uikit-color-black-8),
    0 8px 18px var(--uikit-color-black-8);
}

.layoutItem {
  position: relative;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 12px;
  }

  .layoutBlockContainer {
    box-sizing: border-box;
    width: 130px;
    height: 88px;
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 6px;
  }

  &:hover,
  &.checked {
    .layoutBlockContainer {
      border: 2px solid var(--text-color-link);
    }
  }

  .layoutTitle {
    display: inline-block;
    width: 100%;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color-primary);
    text-align: center;
  }

  &.checked {
    .layoutTitle {
      font-weight: 500;
      color: var(--text-color-link);
    }
  }
}

.layout1 {
  .layoutBlockContainer {
    display: flex;
    flex-wrap: wrap;
    place-content: space-between space-between;

    .layoutBlock {
      width: 38px;
      height: 24px;
      background-color: var(--tab-color-option);

      &:nth-child(1) {
        border-top-left-radius: 4px;
      }

      &:nth-child(3) {
        border-top-right-radius: 4px;
      }

      &:nth-child(7) {
        border-bottom-left-radius: 4px;
      }

      &:nth-child(9) {
        border-bottom-right-radius: 4px;
      }
    }
  }
}

.layout2 {
  .layoutBlockContainer {
    display: flex;
    justify-content: space-between;

    .leftContainer {
      width: 78px;
      height: 100%;
      background-color: var(--tab-color-option);
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    .rightContainer {
      display: flex;
      flex-wrap: wrap;
      place-content: space-between space-between;
      width: 38px;
      height: 100%;

      > div {
        width: 38px;
        height: 24px;
        background-color: var(--tab-color-option);

        &:nth-child(1) {
          border-top-right-radius: 4px;
        }

        &:nth-child(3) {
          border-bottom-right-radius: 4px;
        }
      }
    }
  }
}

.layout3 {
  .layoutBlockContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .topContainer {
      display: flex;
      flex-wrap: wrap;
      place-content: space-between space-between;
      width: 100%;
      height: 24px;

      > div {
        width: 38px;
        height: 24px;
        background-color: var(--tab-color-option);

        &:nth-child(1) {
          border-top-left-radius: 4px;
        }

        &:nth-child(3) {
          border-top-right-radius: 4px;
        }
      }
    }

    .bottomContainer {
      width: 118px;
      height: 50px;
      background-color: var(--tab-color-option);
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }
}
