.customSettingDialog {
  width: 610px !important;
  height: 590px !important;
  padding: 0 !important;

  :global(.tui-dialog-header),
  :global(.dialog-header) {
    padding: 24px 24px 20px;
  }

  :global(.tui-dialog-body) {
    height: calc(100% - 70px);
    padding: 0;
  }
}

.settingBody {
  display: flex;
  width: 100%;
  height: 100%;
}

.settingTabs {
  box-sizing: border-box;
  width: 170px;
  padding-top: 7px;
  text-align: initial;
  background-color: var(--bg-color-default);
  border-bottom-left-radius: 10px;
}

.tabsTitle {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding-left: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: var(--text-color-secondary);
  cursor: pointer;

  &.active {
    font-weight: 400;
    color: var(--uikit-color-white-1);
    background-color: var(--uikit-color-theme-5);
  }
}

.divideLine {
  width: 1px;
  height: 100%;
  background: var(--stroke-color-primary);
}

.settingContent {
  flex-grow: 1;
  padding: 16px 30px;
  overflow-y: auto;

  > * {
    width: 100%;
  }
}
