.roomHeader {
  height: 100%;
}

.roomTitle {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color-primary);
  cursor: pointer;
}

.roomTitleName {
  flex: 1;
  min-width: 0;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roomTitleIcon {
  flex-shrink: 0;
}

.roomDuration {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.roomInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background-color: var(--bg-color-dialog);
  border-radius: 16px;
}

.roomInfoItem {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

.roomInfoLabel {
  flex-shrink: 0;
  width: 80px;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color-secondary);
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.roomInfoValue {
  flex: 1;
  max-width: 200px;
  overflow: hidden;
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color-primary);
  text-align: start;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.roomInfoCopy {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--text-color-link);
  cursor: pointer;

  &:hover {
    color: var(--text-color-link-hover);
  }
}

.copyIcon {
  flex-shrink: 0;
}
