.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: var(--button-color-secondary-hover);
  }

  &:active {
    background-color: var(--button-color-secondary-active);
  }

  &.disabled {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
}

.icon {
  color: var(--icon-color-primary);
}

.hiddenInput {
  display: none;
}
